:root {
  --color-primary: #43a5a1;
  --color-white: #fff;
  --color-black: #000;
  --color-error: #960000;
  --color-grey-darkest: #151922;
  --color-grey-darker: #383c43;
  --color-grey-dark: #373b42;
  --color-grey-light: #b9babd;
  --color-grey-lighter: #e8e8e9;
  --color-grey-lightest: #f8f8f8;

  --color-primary-alpha-70: rgba(67, 165, 161, 0.7);
  --color-primary-alpha-15: rgba(67, 165, 161, 0.15);

  --font-size-smallest: 1rem;
  --font-size-smaller: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-normal: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-large: 4rem;
  --font-size-largest: 4.8rem;

  --font-regular: "Gordita Regular";
  --font-medium: "Gordita Medium";
  --font-bold: "Gordita Bold";

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --content-width: 114rem;
}

$breakpoints: (
  "xs": 320px,
  "sm": 575px,
  "md": 767px,
  "lg": 991px,
  "xl": 1200px,
);

:export {
  breakpointXs: map-get($breakpoints, "xs");
  breakpointSm: map-get($breakpoints, "sm");
  breakpointMd: map-get($breakpoints, "md");
  breakpointLg: map-get($breakpoints, "lg");
  breakpointXl: map-get($breakpoints, "xl");
}
